[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-interactive-cd"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-interactive-cd
	url = https://github.com/mrjohannchang/zsh-interactive-cd.git
	branch = master
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "software/tmux/.config/tmux/plugins/tmux-continuum"]
	path = software/tmux/.config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "software/tmux/.config/tmux/plugins/tmux-fingers"]
	path = software/tmux/.config/tmux/plugins/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule "software/tmux/.config/tmux/plugins/tmux-sessionist"]
	path = software/tmux/.config/tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "software/tmux/.config/tmux/plugins/vim-tmux-navigator"]
	path = software/tmux/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "software/tmux/.config/tmux/plugins/tmux-yank"]
	path = software/tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
