[user]
	email = matthew.d.krohn@gmail.com
	name = Matthew Krohn
[rerere]
	enabled=true
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
#[color]
#	ui = always
[color "diff"]
	commit = green
	meta = yellow
	frag = cyan
	old = red
	new = green
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	submodule = diff
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE
[interactive]
	diffFilter = delta --color-only
