[user]
	email = matthew.d.krohn@gmail.com
	name = Matthew Krohn
[rerere]
	enabled=true
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta
#[color]
#	ui = always
[color "diff"]
	commit = green
	meta = yellow
	frag = cyan
	old = red
	new = green
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	submodule = diff
	tool = fugitive
[difftool]
	prompt = false
[merge]
	tool = fugitive
	conflictStyle = diff3
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = false
[delta]
	syntax-theme = wpgtk
	plus-color = "#012800"
	minus-color = "#340001"
	line-numbers = true
	side-by-side = false
